.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  background-color: #f0f0f0;
}

.signup-heading {
  text-align: center;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.mat-raised-button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
}

.mat-raised-button:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}
